.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header__logo {
  margin: 0 auto;
  padding: 24px 0;
}

.header__linksList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 24px;
  border-top: 1px solid #000;
}

.header__link {
  white-space: nowrap;
  text-transform: uppercase;
  transition: all 150ms ease;
  text-decoration: underline;
}

.header__link:hover {
  color: coral;
}

.header__link + .header__link {
  margin-left: 16px;
}
